.container {
    background: #ffffff;
    position: relative;
    padding: 2%;
    padding-top: 5%;
}

.head{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-left: 8%;
}
.head>div>h1{
    font-size: 3em;
}
.body{
    display: flex;
    gap: 3em;
    padding: 10%;
}

.bodyr>figure>img{
    width: 100%;
}
.bodyl>figure>img{
    display: block;
    margin-top: 50%;
}
.bodyr>figure>figcaption{
    text-align: center;
}
.bodyl{
    display: block;
    justify-content: center;
    align-items: center;
}

.bodyl,.bodym, .bocyr{
    flex: 1;
}

.bodym{
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin-top: 8%;
}
.line{
        border-left: 2px solid #c1b9b9;
        height: 30em;
        margin-left: 50%;
}

.about>p{
    font-size: 15px;
    transform: rotate(270deg) translateX(40%);
    transform-origin: center;
}
.about>p>a{
    text-decoration: none;
    color: #c1b9b9;
}

.bodyr{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10em;
}


.registerNow {
    animation: rotateAnimation 10s linear 0s infinite forwards;
    margin: 0;
    margin-left: 50%;
}



@keyframes rotateAnimation {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

/* ------------mobile view---------- */

@media screen and (max-width: 600px){
    .head{
        margin-bottom: -5em;
    }
    .body{
        flex-direction: column;
        gap: 3em;
        padding-top: 0;
        margin-top: 0;
    }
    .registerNow{
        width: 15%;
    }
    .bodyr>figure>img{
        width: auto;
    }
    .bodym{
        display: none;
    }
    .bodyr{
        gap: 3em;
    }
}