.footerHeader {
    height: 400px;
    background: #C8E9F0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/footerbackgroundobjects.png");
}

.registerHere {
    background: white;
    outline: none;
    border: none;
    padding: 20px;
    font-size: 24px;

    border-radius: 60px;
    transition: all 0.2s;
}

.registerHere:hover {
    cursor: pointer;
    transform: scale(1.08);
}