@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.body{
  scroll-behavior:smooth
}


.ring {
  transition: all 2ms ease-in-out;
  position: absolute;
  right: 5%;
  top: 50%;
  z-index: 10000;
  height: 200px;
  width: 200px;   
  box-shadow: none;
}

.ring-animated{ 
  animation: rotateAnimation 10s linear 0s infinite forwards;
}

.ring-animated:hover{
  animation-play-state: paused;
}
@media screen and (max-width: 800px) {
  .body{
      cursor: default;
  }
  .ring{
    display: none;
  }
}

@keyframes rotateAnimation {
  0% {
      transform: rotateZ(0deg);
  }

  100% {
      transform: rotateZ(360deg);
  }
}