.container{
    padding-top: 7rem;
    height: 100vh;
    background: linear-gradient(
    to top,
    rgb(248, 248, 248) 0%,
    #ddeeef 50%,
    #ddeeef 50%,
    rgb(255, 255, 255) 100%
  );
}

.header{
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
}

.content{
    margin: auto;
    width: 80%;
    height: 50vh;
    background: #c0e2e9;
    border-radius: 274px;
    margin-top: 2rem;
}





